LODGIFY_API_KEY=
LODGIFY_API_BASE_URL=https://api.lodgify.com/v2
NEXT_PUBLIC_LODGIFY_BOOKING_BASE_URL=https://checkout.lodgify.com/en/summerhouse--bali/{propertyId}/reservation?currency=EUR
NEXT_PUBLIC_LODGIFY_CHECKOUT_BASE_URL=https://checkout.lodgify.com/en/summerhouse--bali/{propertyId}/reservation?currency=EUR
NEXT_PUBLIC_SITE_URL=https://summerhousebali.com
SITE_URL=https://summerhousebali.com
ADMIN_API_SECRET=
