.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 48px;
  width: 100%;
}

@media (max-width: 1280px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 32px;
  }
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 48px;
  }
}
